<md-content layout-padding>
    <h1>SayoHome-Login</h1>
    <div>
        <md-input-container>
            <label>Benutzername</label>
            <input ng-model="username">
        </md-input-container>
        <br>
        <md-input-container>
            <label>Passwort</label>
            <input ng-model="pwd" type="password">
        </md-input-container><br>
        <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
    </div>
    <p>
        &copy; 2016 Elias G&uuml;rlich
    </p>
</md-content>
